#glass-form {
  padding: 30px;
  /* background-color: blue; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}


/* Simple CSS values that are a little derivative of current effects
    Can we modify these values from our JSX?
*/
.glass {
  background: rgba(255, 255, 255, 0.15); /* Last value dictates opacity */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /*  */
  backdrop-filter: blur(18.3px); /* This line and the bottom are provide blur effects, should be tested */
  -webkit-backdrop-filter: blur(18.3px);
}



/* Buggy glass effect, better browser support?? */
body {
  background-attachment: fixed;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}

.container {
  background: inherit;
}

.container:before {
  background: inherit;
}


